@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.title {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.title span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.title span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.block-reveal {
    opacity: 0;
    animation: revealBlock 1s 1.3s forwards ease-out;
}
/* animations */
@keyframes revealBlock {
    100% {
        opacity: 1;
    }
}

.button-reveal {
    opacity: 0;
    transform: translateY(200px);
    animation: slideUp 1s 2.3s forwards ease-out;
}

@keyframes slideUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-disappear {
    opacity: 1;
    animation: textFade 1s forwards ease-in;
}

@keyframes textFade {
    100% {
        opacity: 0;
        transform: translateY(-200px);
    }
}

.block-disappear {
    opacity: 1;
    animation: fade 1s forwards ease-in;
}

@keyframes fade {
    100% {
        opacity: 0;
    }
}

.button-disappear-left {
    opacity: 1;
    animation: disappear-left 1s forwards ease-in;
}

.button-disappear-right {
    opacity: 1;
    animation: disappear-right 1s forwards ease-in;
}

@keyframes disappear-left {
    100% {
        opacity: 0;
        transform: translateX(-200px);
    }
}

@keyframes disappear-right {
    100% {
        opacity: 0;
        transform: translateX(200px);
    }
}
